<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Delete Records</title>
		<link rel="stylesheet" href="stylesheet.css">
	</head>
	<body>
        <h1>Delete Records</h1>
        <form action="./delete" method="post">
            <label for="email"><b>Email (leave empty to delete all of them):</b></label>
			<input id="email" name="email" type="email">
			<br>
			<br>
			<input type="reset">
			<input type="submit">
        </form>
        <hr>
        <a href="./">Back</a>
    </body>
</html>