<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Delete Records</title>
		<link rel="stylesheet" href="stylesheet.css">
	</head>
	<body>
        <h1>Delete Records</h1>
        <p><%- name %> sucessfully deleted!</p>
        <hr>
        <a href="./">Back</a>
    </body>
</html>