<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>View Records</title>
        <link rel="stylesheet" href="stylesheet.css">

	</head>
	<body>
        <h1>View Records</h1>
        <table border = 1>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Amount (Input Currency)</th>
                <th>Amount (Output Currency)</th>
            </tr>
            <%- records %>
        </table>
        <hr>
		<a href="./">Back</a>
	</body>
</html>
