<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>View Records</title>
		<link rel="stylesheet" href="stylesheet.css">
	</head>
	<body>
        <h1>View Records</h1>
        <form action="./records" method="post">
            <p>If you leave a field blank, it will not be used to filter records.</p>
            <label for="email"><b>Email:</b></label>
			<input id="email" name="email" type="email">
			<br>
			<br>
			<label for="inputCurrency"><b>Input Currency:</b></label>
			<input id="inputCurrency" name="inputCurrency" type="text">
			<br>
			<br>
			<label for="outputCurrency"><b>Output Currency:</b></label>
			<input id="outputCurrency" name="outputCurrency" type="text">
			<br>
			<br>
			<input type="reset">
			<input type="submit">
        </form>
        <hr>
		<a href="./">Back</a>
    </body>
</html>
